@use '../abstracts/variables' as *;

/* ==========================================
    Sección base
========================================== */

.section {

    padding-block: $space-2xl;

    scroll-margin-top: 5rem;
}

/* ==========================================
    Secciones pantalla completa
========================================== */

.section-fullscreen {

    min-height: 100vh;

    display: flex;

    align-items: center;

    scroll-margin-top: 5rem;
}

.section--compact-top {
    padding-top: $space-xl;
}
.section--compact-bottom {
    padding-bottom: $space-xl;
}