
@use '../../../../styles/abstracts/mixins' as mixins;
@use '../../../../styles/abstracts/breakpoints' as bp;

:host {
    display: block;

    /* Como el navbar ya no depende del contenedor, quitar el sticky de .navbar*/
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    width: 100%;
    padding-inline: 0;
    min-height: 4.5rem;

    background-color: white;

    transition:
    box-shadow .25s ease,
    background-color .25s ease;

    border-bottom: 1px solid rgba(0,0,0,.05);

    
    &--scrolled {
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        min-height: 4.5rem;
    }

    &__logo {
        text-decoration: none;
        font-size: 1.35rem;
        font-weight: 700;
        color: inherit;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__link {
        text-decoration: none;
        transition:
        color .2s ease,
        background-color .2s ease;
    }

    &__menu-button {
        display: none;
        flex-shrink: 0;

        transition: transform .2s ease;
    }

}

@include mixins.down(bp.$lg) {
    .navbar {
        &__nav {
            display: none;
        }

        &__menu-button {
            display: inline-flex;
        }
    }
}