@use '../../../styles/abstracts/variables' as *;

.projects__list {
    display: flex;
    flex-direction: column;
    gap: $space-2xl;
}
.projects__title {
    font-size: clamp(2rem, 3.6vw, 3.4rem);
    font-weight: 700;
    line-height: 1.6;
    color: $text-primary;
}
.projects__description {
    max-width: 38rem;
    line-height: 1.6;
    color: $text-secondary;
}